@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yanone+Kaffeesatz&display=swap');

$pink: #f72585;

$darkPurple: #7209b7;
$purple: #a3a3ff;
$lightPurple: #bdbfff;

$darkBlue: #3a0ca3;
$blue: #4b72ff;
$lightBlue: #d6dfff;
$lightest: #deedff;

$darkGray: #3e3d56;

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  // color: $darkBlue;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
  text-align: justify;
}

a {
  color: $blue;
  &:hover {
    color: $purple;
  }
}

.nav-item {
  position: relative;
  .nav-link {
    padding: 0.3rem 1rem;
    color: black;
    font-weight: 700;
    transform: translate3d(0, -4px, 0);
    transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53);
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
    left: calc(50% - 2.5px);
    bottom: 0px;
    transition: all 0.3s ease;
  }
  &:hover {
    .nav-link {
      transform: translate3d(0, 0, 0);
      transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
      transition-duration: 0.4s;
      transition-delay: 0s;
    }
    &::after {
      height: 1px;
      width: 100%;
      left: 0;
    }
  }
}
